.header {
  padding-top: 45px;
  border-bottom: 1px solid #545454; 
  max-width: 882px;
  margin: 0 auto;
  min-height: 74px;
}

@media screen and (max-width: 630px) {
  .header {
    padding-top: 28px;
    min-height: 56px;
  }
}
