.form__error-text {
    transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
}
